/*header borang*/
h3{
    font-family: Monaco, monospace;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    
    padding: 5px 22px;
    border-radius: 40px 40px 0px 0px;
    margin: 20px auto 0px;
    background-color: darkolivegreen;
    /*box-shadow: 10px 10px 5px rgba(96, 96, 96, 0.7);*/
}

/*papar mesej*/
h2.mesej{
    font-family: verdana;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: black;
    
    width: 330px;
    padding: 20px;
    border: 2px solid darkolivegreen;
    border-radius: 0px 0px 10px 10px;
    margin: 0px auto;
    background-color: sandybrown;
    box-shadow: 15px 15px 6px rgba(96, 96, 96, 0.7);
}

/*rekabentuk borang*/
form{
    font-family: "Lucida Console", monospace;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    color: black;
    
    height: 250px;
    width: 50%;
    padding: 20px;
    border: 2px solid rgb(107, 142,  35);
    border-radius: 0px 0px 40px 40px;
    margin: 0px auto;
    background-color: rgb(255, 228, 181);
   /* box-shadow: 10px 10px 5px rgba(96, 96, 96, 0.7); */
}

/*borang-borang lain*/
form.pendek, h3.pendek{
    width: 250px;
}

/*borang tambah soalan*/
form.panjang{
    width: 330px;
    height: 350px
}

/*header borang tambah soalan*/
h3.panjang{
    width: 330px;
}

/*cantumkan sekali*/
input[type="text"],
input[type="password"],
select{
    width: 145px;
    padding: 5px;
    margin: 5px;
}

table{
    font-family: cursive;
    font-size: 12px;
}

/*latar belakang sistem*/
body{
    background-image: url(paper.jpg);
}